<div class="grid">
    <div class="col-12">
      <div class="card" >
        <h5>Lista de Mensajes</h5>
        <ng-container >
        <!-- <p-table [value]="messages" dataKey="_id" [rows]="limit" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [totalRecords]="totalRecords" (onLazyLoad)="onTableLazyLoad($event)" responsiveLayout="scroll"> -->
            <p-table [value]="messages || []"  [rows]="10"  [totalRecords]="totalRecords || 0" [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"  [loading]="loading"  [lazy]="true" [showCurrentPageReport]="true"  [rowsPerPageOptions]="[10, 25, 50]"   (onLazyLoad)="onPageChange($event)">
            <ng-template pTemplate="header">
            <tr>
              <th>Cliente</th>
              <th>Celular</th>
              <th>Paso</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-message>
            <tr>
              <td>{{ message.clientName }}</td>
              <td>{{ message.phone }}</td>
              <td>{{ message.step }}</td>

            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="7">No hay mensajes para mostrar.</td>
            </tr>
          </ng-template>
            </p-table>
        </ng-container>
            <ng-template #loadingTemplate>
                <p> Cargando mensajes... </p> <!-- O algún otro indicador de carga -->
              </ng-template>
      </div>
    </div>
  </div>
