<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Citas</h5>
            <p-table
                #dt1
                [value]="appointments"
                dataKey="id"
                [rows]="10"
                [loading]="false"
                [rowHover]="true"
                styleClass="p-datatable-gridlines"
                [paginator]="true"
                responsiveLayout="scroll"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex justify-content-between flex-column sm:flex-row"
                    >
                        <button
                            pButton
                            label="Clear"
                            class="p-button-outlined mb-2"
                            icon="pi pi-filter-slash"
                            (click)="clear(dt1)"
                        ></button>
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                #filter
                                (input)="onGlobalFilter(dt1, $event)"
                                placeholder="Search Keyword"
                                class="w-full"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <p-progressSpinner
                        style="
                            display: flex;
                            text-align: center;
                            align-items: center;
                        "
                        *ngIf="loading"
                    ></p-progressSpinner>
                    <tr *ngIf="!loading">
                        <th style="min-width: 14rem">
                            <div
                                class="flex justify-content-between align-items-center flex-column"
                            >
                                Código
                                <p-multiSelect
                                    class="mt-2"
                                    [options]="appointments"
                                    formControlName="selectedCodes"
                                    optionLabel="code"
                                ></p-multiSelect>

                                <ng-template
                                    pTemplate="filter"
                                    let-value
                                    let-filter="filterCallback"
                                >
                                    <p-multiSelect
                                        [ngModel]="value"
                                        [options]="representatives"
                                        placeholder="Any"
                                        (onChange)="filter($event.value)"
                                        optionLabel="name"
                                    >
                                        <ng-template
                                            let-option
                                            pTemplate="item"
                                        >
                                            <div
                                                class="p-multiselect-representative-option"
                                            >
                                                <img
                                                    [alt]="option.label"
                                                    src="assets/demo/images/avatar/{{
                                                        option.image
                                                    }}"
                                                    width="32"
                                                    style="
                                                        vertical-align: middle;
                                                    "
                                                />
                                                <span class="ml-2">{{
                                                    option.name
                                                }}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Voucher
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Doctor
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Paciente
                            </div>
                        </th>

                        <th style="min-width: 10rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Fecha
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Tarifa
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Status
                                <p-multiSelect
                                    [options]="appointments"
                                    formControlName="selectedStates"
                                    optionLabel="status"
                                ></p-multiSelect>
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-appointment>
                    <tr>
                        <td>
                            {{ appointment.code }}
                        </td>
                        <td
                            class="flex align-items-center justify-content-center"
                        >
                            <p-image
                                src="{{ appointment.voucher }}"
                                alt="Image"
                                width="35"
                                [preview]="true"
                            ></p-image>
                        </td>
                        <td>
                            {{ appointment.doctorId.name }}
                        </td>
                        <td>
                            {{ appointment.patientId.name }}
                        </td>
                        <td>
                            {{ appointment.date | date : "short" }}
                        </td>
                        <td>
                            {{ appointment.fee | currency : "USD" : "symbol" }}
                        </td>
                        <td>
                            <div>
                                <p-tag
                                    [class]="
                                        'customer-badge status-' +
                                        appointment.status
                                    "
                                    [value]="appointment.status | status"
                                    [severity]="appointment.status | severity"
                                    (click)="confirm1(appointment)"
                                    [style]="cursorAppointment(appointment)"
                                >
                                </p-tag>

                                <p-confirmDialog
                                    key="cd{{ appointment._id }}"
                                    [style]="{ width: '50vw' }"
                                >
                                    <ng-container>
                                        <p-progressSpinner
                                            style="
                                                display: flex;
                                                text-align: center;
                                                align-items: center;
                                            "
                                            *ngIf="loadingUpdate"
                                        ></p-progressSpinner>
                                        <ng-template
                                            *ngIf="!loadingUpdate"
                                            pTemplate="header"
                                        >
                                            <h3>Confirmación</h3>
                                        </ng-template>
                                        <ng-template pTemplate="icon">
                                            <i class="pi pi-user"></i>
                                        </ng-template>
                                        <ng-template pTemplate="message">
                                            <p>
                                                ¿Deseas aceptar o rechazar el
                                                pago?
                                            </p>
                                        </ng-template>
                                        <ng-template pTemplate="footer">
                                            <button
                                                type="button"
                                                pButton
                                                icon="pi pi-times"
                                                label="Rechazar"
                                                (click)="
                                                    rejectAppointment(
                                                        appointment
                                                    )
                                                "
                                            ></button>
                                            <button
                                                type="button"
                                                pButton
                                                icon="pi pi-check"
                                                label="Aceptar"
                                                (click)="
                                                    acceptAppointment(
                                                        appointment
                                                    )
                                                "
                                            ></button>
                                        </ng-template>
                                    </ng-container>
                                </p-confirmDialog>
                            </div>
                        </td>

                        <p-toast></p-toast>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8" *ngIf="!loading">
                            No customers found.
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">
                            Loading customers data. Please wait.
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
