<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Pagos a Proveedores</h5>
            <p-table #dt2 [value]="payments" dataKey="_id" [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Inicio</th>
                        <th>Fin</th>
                        <th>Nombre del Doctor</th>
                        <th>Tarifa</th>
                        <th>Cantidad Reservas</th>
                        <th>Ganancias Hotel</th>
                        <th>Comisión HxH</th>
                        <th>Estado</th>
                        <th>Fecha de Pago</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-payment>
                    <tr>
                        <td>{{ payment.startDate |localDateTime }}</td>
                        <td>{{ payment.endDate |localDateTime }}</td>
                        <td>{{ payment.doctorId.name }}</td>
                        <td>{{ payment.doctorId.fee | currency: 'S/. ' }}</td>
                        <td>{{ payment.appointmentQ }}</td>
                        <td>{{ payment.doctorEarnings | currency: 'S/. ' }}</td>
                        <td>{{ payment.qaliFee | currency: 'S/. ' }}</td>
                        <td>
                            <!-- <p-tag [value]="payment.status | statusFilter" [severity]="payment.status | statusSeverity"></p-tag> -->
                            <p-tag [value]="payment.status" [severity]="payment.status"></p-tag>

                        </td>
                        <td>{{ payment.paymentDate |localDateTime }}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="9">No hay pagos para mostrar.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
