<div class="grid">
    <div class="col-12">
      <div class="card" >
        <h5>Lista de Doctores</h5>
        <button type="button" pButton label="Crear Doctor" icon="pi pi-plus" (click)="showDoctorForm()"></button>
        <ng-container >
        <!-- <p-table [value]="doctors" dataKey="_id" [rows]="limit" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [totalRecords]="totalRecords" (onLazyLoad)="onTableLazyLoad($event)" responsiveLayout="scroll"> -->
            <p-table [value]="doctors || []"  [rows]="10"  [totalRecords]="totalRecords || 0" [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"  [loading]="loading"  [lazy]="true" [showCurrentPageReport]="true"  [rowsPerPageOptions]="[10, 25, 50]"   (onLazyLoad)="onPageChange($event)">
            <ng-template pTemplate="header">
            <tr>
              <th>Doctor</th>
              <th>Especialidad</th>
              <th>Tarifa</th>
              <th>Comision</th>
              <th>Dirección</th>
              <th>Imagen</th>
              <th>Modalidad</th>
              <th>Acción</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-doctor>
            <tr>
              <td>{{ doctor.name }}</td>
              <td>{{ doctor.speciality }}</td>
              <td>{{ doctor.fee | currency: 'S/. ' }}</td>
              <td>{{ doctor?.qaliComission | percent}}</td>
              <td>{{ doctor.office }}</td>
              <td
              class="flex align-items-center justify-content-center"
          >
              <p-image
                  src="{{ doctor?.imageUrl }}"
                  alt="Image"
                  width="35"
                  [preview]="true"
              ></p-image>
          </td>
              <!-- <td><img [src]="doctor.imageUrl" alt="Imagen del doctor" height="50"></td> -->
              <td>{{ doctor.modality.join(', ') }}</td>
              <td>
                <!-- Botones de acción (editar, etc.) -->
                <!-- Implementa tu lógica de edición aquí -->
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="7">No hay doctores para mostrar.</td>
            </tr>
          </ng-template>
            </p-table>
        </ng-container>
            <ng-template #loadingTemplate>
                <p> Cargando doctores... </p> <!-- O algún otro indicador de carga -->
              </ng-template>
      </div>
    </div>
  </div>
